<IfModule mod_php7.c>
   php_value upload_max_filesize 1G
   php_value post_max_size 1G
   php_value max_input_time 0
   php_value max_execution_time 0
</IfModule>
<IfModule mod_php5.c>
   php_value upload_max_filesize 1G
   php_value post_max_size 1G
   php_value max_input_time 0
   php_value max_execution_time 0
</IfModule>

Options +FollowSymLinks -Indexes

RewriteEngine on
RewriteBase /scorepl/
#RewriteCond %{HTTP_HOST} !^admin [NC]
#RewriteRule .* - [F]

#RewriteRule (.*) https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^manager/([a-zA-Z\_]*)/?$ index.php?page=manager&object_type=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9\-]*)(/?[a-zA-Z0-9\-]*)(/?[a-zA-Z0-9\-]*)/?$ index.php?page=$1$2$3 [L]
